* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: "Balsamiq Sans", cursive;
}

/* common css */

.container {
  max-width: 100rem;
  margin: 0 auto;
}

a:hover {
  color: #1a6ebf;
  text-decoration: initial;
}

p {
  margin-bottom: initial;
}

button:focus {
  outline: initial;
  cursor: pointer;
}

.btn.focus,
.btn:focus {
  outline: initial;
  box-shadow: initial;
}

input:focus-visible {
  outline: initial;
}

h3,
h4,
h5 {
  margin-bottom: initial;
}

/* modal css */

.modal--box .modal-dialog {
  display: flex;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  align-items: center;
  height: 100vh;
  margin: auto;
  max-width: 320px;
  width: 100%;
}

.token__info {
  color: #fff;
  display: flex;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 8px 24px;
  box-shadow: inset 0 1px 0 0 rgb(255 255 255 / 10%);
  background: #212121;
}

.modal--box .modal-header {
  padding: 16px 24px;
  border-bottom: initial;
  align-items: center;
  background: linear-gradient(180deg, #f3b53d, #ed6c37);
  -webkit-background-clip: inherit;
  background: -webkit-linear-gradient(180deg, #f3b53d, #ed6c37);
}

.modal--box .modal-content {
  border-radius: 0.5rem;
}

.modal--box .modal-body {
  padding: initial;
}

.modal--box .token__img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.token__info .name--token {
  display: none;
}

.token__info .name--token1 {
  display: block;
}

.token__info.collapsed .name--token {
  display: block;
}

.token__info.collapsed .name--token1 {
  display: none;
}

.token__info .fa-angle-down {
  transform: rotate(180deg);
}

.token__info.collapsed .fa-angle-down {
  transform: rotate(0deg);
}

.modal--box .modal-title {
  font-weight: 400;
  font-size: 25px;
  color: #fcfcfc;
}

.modal--box .close {
  color: #fff;
  font-size: 22px;
  font-weight: 100;
  opacity: 1s;
  border-radius: 50%;
}

.close:focus,
.close:hover {
  background-color: #0000004f;
  color: #fff;
  transition: 1s;
}

.modal-header .close {
  padding: 0px 8px;
  width: 50px;
  height: 50px;
  transition: 0.5s;
  opacity: 0.8;
}

.modal--box .fa-angle-down {
  font-size: 24px;
  opacity: 0.6;
}

.name {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: hsla(0, 0%, 100%, 0.88);
  text-transform: capitalize;
}

/* custom css */

#cryptoInfo {
  background-color: #000;
  overflow: hidden;
  height: 100vh;
}

.crypto--content {
  display: flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  padding: 110px 0px;
}

.banner {
  width: 100%;
  max-width: 50%;
}

.banner--box1 {
  text-align: center;
}

.banner__heading {
  font-weight: 400;
  font-size: 72px;
  line-height: 86px;
  color: #fcfcfc;
  padding: 0px 0px 62px;
  text-align: center;
}

.text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: hsla(0, 0%, 100%, 0.88);
  max-width: 309px;
  padding: 20px 11px;
}

.banner__span {
  background: linear-gradient(180deg, #f3b53d, #ed6c37);
  background: -webkit-linear-gradient(180deg, #f3b53d, #ed6c37);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.btn {
  width: 100%;
  max-width: 317px;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  background: transparent;
  color: #fcfcfc;
  padding: 18px 25px;
  border: none !important;
  position: relative;
  cursor: pointer;
  margin-top: 50px;
}

.banner__bind {
  display: flex;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  padding: 5px 0px;
}

.btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2px;
  background: linear-gradient(180deg, #f3b53d, #ed6c37);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  background: -webkit-linear-gradient(180deg, #f3b53d, #ed6c37);
  -webkit-mask-composite: source-out;
  mask-composite: exclude;
}

.btn--mint {
  margin-left: 20px;
}

.banner__img {
  width: 100%;
  max-width: 452px;
}

.wallet__id {
  font-weight: 400;
  font-size: 22px;
  color: #fcfcfc;
  padding: 0px 0px 23px;
  text-transform: lowercase;
}

.wallet {
  display: flex;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding: 50px 20px 0px;
}

/* =====================Media-Queries======================== */

@media (max-width: 1700px) {
  .crypto--content {
    padding: 141px 30px 0px;
  }
}

@media (max-width: 1400px) {
  .banner__heading {
    font-size: 60px;
  }
  .wallet__id {
    font-size: 20px;
  }
  .text {
    font-size: 19px;
  }
  .crypto--content {
    padding: 88px 30px 145px;
  }
}

@media (max-width: 1200px) {
  #cryptoInfo {
    height: initial;
  }
  .crypto--content {
    flex-direction: column;
  }
  .banner {
    width: 100%;
    max-width: initial;
    text-align: center;
  }
  .crypto--content {
    height: initial;
  }
  .banner--box1 {
    padding: 111px 0px 0px;
  }
  .text {
    margin: auto;
  }
  .banner__bind {
    -webkit-justify-content: center;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 576px) {
  .crypto--content {
    padding: 64px 30px 0px;
  }
  .banner__bind {
    flex-direction: column;
  }
  .btn--mint {
    margin-left: initial;
  }
  .banner__heading {
    font-size: 45px;
    padding: 0px 0px 19px;
  }
  .text {
    font-size: 18px;
    padding: 18px 11px;
  }
  .btn {
    max-width: 244px;
    font-size: 15px;
  }
  .banner--box1 {
    padding: 82px 0px 100px;
  }
  .modal--box .modal-dialog {
    max-width: 250px;
  }
  .modal--box .modal-title {
    font-size: 19px;
  }
  .modal-header .close {
    height: 37px;
    width: 37px;
  }
  .name {
    font-size: 15px;
  }
}
